
* { Box-sizing: Border-box }
body {
  background-color: #dadada;
  font-size: 10px;
}


/* Phones */
.siteHeader{
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  letter-spacing: 12px;
  font-size: 16px;
}
h1{
  font-size: 24px;
}



.baku{
  background: url("../images/baku.jpg") center center no-repeat;
}

.london{
  background: url("../images/london.png") center center no-repeat;
}

.madrid{
  background: url("../images/madrid.jpg") center center no-repeat;
}

.rome{
  background: url("../images/rome.jpg") center center no-repeat;
}

.preview{
  height: 500px;
  background-size: cover;
  padding: 20px;
  margin-bottom: 20px;
}

/* End phones */












/* Tablets */
@media screen and (min-width : 575px){


  h1{
    font-size: 36px;
  }

  .preview{
      margin: 1%;
      width: 48%;
      float: left;
      height: 400px;
      background-size: cover;
  }

}/* End tablet */











/* Laptop */
@media screen
and (min-width : 991px) {

  .preview{
      margin: 1%;
      width: 23%;
      float: left;
      background-size: cover;
  }

  h1{
    font-size: 48px;
  }


}/* End laptop */
